<nav class="navbar navbar-expand-lg navbar-light shadow-sm py-2 px-4">
    <div class="container-fluid flex-column flex-lg-row align-items-start align-items-lg-center p-0">

        <!-- 🧘 Logo + Brand + Hamburger (All in Same Line) -->
        <div class="d-flex  align-items-center justify-content-between navbar-brand-title-wrapper">
            <div class="d-flex align-items-center">
                <a class="navbar-brand d-flex align-items-center me-2" routerLink="/">
                    <img src="./../../../assets/taraLogo.png" alt="Tara Logo" width="50" height="50"
                        class="rounded-circle me-2">
                </a>
                <div class="text-success fw-bold fs-4 brand-title m-0">Tara Green Yoga</div>
            </div>

            <!-- 🍔 Hamburger Button -->
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!-- 🔗 Nav Links -->
        <div class="collapse navbar-collapse justify-content-end mt-2" id="navbarNav">
            <ul class="navbar-nav  ms-lg-auto">
                <li class="nav-item nav-border">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item nav-border">
                    <a class="nav-link" routerLink="/aboutUs">About Us</a>
                </li>
                <li class="nav-item nav-border">
                    <a class="nav-link" routerLink="/collections">Collections</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" (click)="scrollToContact()">Contact Us</a>
                </li>

            </ul>
        </div>
    </div>
</nav>